.Body {
  width: 100vw;
  min-height: 100vh;
  display: flex;
}
.Cabeza {
  text-align: center;
  margin-bottom: 20px;
}

/* Login.css */
.Logins {
  display: flex;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34; /* Color de fondo oscuro */
}

.Login {
  background-color: #394048; /* Color del formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px; /* Ancho fijo para hacerlo rectangular */
  font-family: "Roboto", sans-serif;
}

.Login h1 {
  margin-bottom: 20px;
  color: #fff; /* Color del texto blanco */
}
.Usuario {
  color: #fff;
}

/* Estilos para el componente "Input" */
.Input {
  margin-bottom: 16px;
}

.Input label {
  display: block;
  margin-bottom: 8px;
  color: #bbb; /* Color del texto gris claro */
}

.Input input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc; /* Borde gris */
  border-radius: 4px;
  outline: none; /* Elimina el contorno al hacer clic en el campo */
  font-family: "Roboto", sans-serif;
}

/* Estilos para el componente "Boton" */
.Botton {
  background-color: #61dafb; /* Color del botón azul claro */
  color: #fff; /* Color del texto blanco */
  border: none;
  border-radius: 40px;
  padding: 12px 24px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave en el color de fondo */
  size: 20px;
  font-family: "Roboto", sans-serif;
  margin: 5px 10px;
}

.Boton:hover {
  background-color: #4fa3d1; /* Color del botón azul oscuro al pasar el ratón */
}
.Botones {
  display: flex;
  flex-direction: row;
  align-items: center; /* Centrar los elementos horizontalmente */
}
.Formu {
  display: flex;
  flex-direction: column;
  background-color: #394048; /* Color del formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  /* Ancho fijo para hacerlo rectangular */
  font-family: "Roboto", sans-serif;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.Input {
  margin: 10px 0;
}

.Interfaz {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;
  background-color: #394048;
  border-radius: 5px;
}
.InterfazTodo {
  background-color: #282c34;
}
.Cargar {
  background-color: #394048; /* Color del formulario */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 300px; /* Ancho fijo para hacerlo rectangular */
  font-family: "Roboto", sans-serif;
}
.Cargar h1 {
  color: #fff;
}